{% extends 'services/base.html' %}
{% block title %}ورود | آگاه‌یار{% endblock %}
{% block login_modal %}{% endblock %}
{% block content %}
  <div class="login-container">
    <h2>ورود به آگاه‌یار</h2>
    {% if form.non_field_errors %}
      <script>
          document.addEventListener('DOMContentLoaded', function() {
              {% for error in form.non_field_errors %}
              Toastify({
                  text: '{{ error|escapejs }}',
                  duration: 3000,
                  close: false,
                  gravity: 'bottom',
                  position: 'center',
                  stopOnFocus: true,
                  style: {
                      background: '#dc3545'
                  },
              }).showToast();
              {% endfor %}
          });
      </script>
    {% endif %}
    <form method="post" action="{% url 'login' %}">
      {% if request.GET.next %}
        <input type="hidden" name="next" value="{{ request.GET.next }}">
      {% endif %}
      {% include 'services/auth/login_form.html' %}
    </form>
  </div>
{% endblock %}
